/********************Main tags*********************/
body {
    font-family: 'Indie Flower', cursive;
    background-color: #019998;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #FFF;
    align-items: center;
}

.content{
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
}

b {
    padding: 5px;
    font-weight: bold;
}

canvas {
    background-color: white;
    position: relative;
}

.game {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 500px;
}

h3 {
    font-size: 1.5rem;
    padding: 5px;
}

/********************Repeating elements*********************/


.invisibleLabel {
    display: none;
}

.pictionaryButton {
    display: inline-block;
    background-color: #FFD500;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    color: black;
    min-width: 7rem;
    text-align: center;
    margin: 5px;
    border: solid transparent 1px;
    font: inherit;
}

.pictionaryButton:hover {
    border: solid black 1px;
}

.userBar{
    background: #FFD500;
    width: 100%;
    min-height: 91px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userBar ul{
    display: flex;
    flex-direction: row;
}

.userBar li {
    padding: 15px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.infoText {
    padding: 10px;
}

.crown {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 20px;
}

.profilePicture {
    border-radius: 20px;
    background-color: white;
    width: 50px;
    height: 50px;
}

.usernameButton:hover{
    border: 1px solid transparent;
}

.smallLogo {
    width: 100px;
    height: auto;
    padding-left: 1rem;
}

/***************join.html****************/

.joinButton {
    background-color: #FFD500;
    padding: 10px;
    font-size: 3rem;
    height: 4rem;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.joinButton:hover {
    background-color: #A88D00;
}

.joinNav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    font-size: 1.5rem;
    padding: 10px;
}

/***************lobby.html****************/

#playerList {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
