body {
    font-family: 'Roboto', sans-serif;
    background-color: #019998;
    margin:0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #FFF;
    align-items: center;
}

main {
    display: flex;
}

h3 {
    font-size: 2rem;
}

.content{
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lobbySelect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
}

.lobbyButton {
    display: flex;
    background-color: #FFD500;
    border-radius: 5px;
    text-decoration: none;
    padding: 1rem;
    color: black;
    min-width: 7rem;
    min-height: 5rem;
    justify-content: center;
    align-items: center;
}

.pictionaryButton {
    display: inline-block;
    background-color: #FFD500;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    color: black;
    min-width: 7rem;
    text-align: center;
    margin: 5px;
    border: solid transparent 1px;
    font: inherit;
}

.pictionaryButton:hover {
    border: solid black 1px;
}


.smallLogo {
    width: 100px;
    height: auto;
    padding-left: 1rem;
}

.joinButton {
    background-color: #FFD500;
    padding: 10px;
    font-size: 3rem;
    height: 4rem;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.joinButton:hover {
    background-color: #A88D00;
}

.warningText {
    color:#FF0000;
}
